<!-- Modal -->
<div
  class="modal fade"
  id="edit-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit pegawai</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/pegawai?_method=PUT" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Nama</label>
            <input
              type="text"
              class="form-control nama"
              name="nama"
              nama="Enter Nama"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">nomor_wa</label>
            <input
              type="number"
              class="form-control nomor_wa"
              name="nomor_wa"
              nama="Enter nomor_wa"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">tanggal_pkt</label>
            <input
              type="text"
              class="form-control tanggal_pkt"
              name="tanggal_pkt"
              nama="Enter tanggal_pkt"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <input type="hidden" class="id" name="id" />
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
